<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

 
  <bean id="bank" class="com.bank.Customer">
        <property name="custId" value="987654"></property>
        <property name="cName" value="pooja"></property>
        <property name="account" ref="acc"></property>
        <property name="loan" ref="loans"></property>
       
        <property name="address" ref="add"></property>
    </bean>
    <bean id="acc" class="com.bank.Account">
        <property name="accNo" value="14254"></property>
        <property name="accType" value="savings"></property>
    </bean>
    <bean id="loans" class="com.bank.Loan">
        <property name="loanId" value="9875454"></property>
        <property name="loanName" value="BikeLoan"></property>
    </bean>
   
    <bean id="add" class="com.bank.Address">
        <property name="hNo" value="1183"></property>
        <property name="city" value="HYD"></property>
        <property name="state" value="Telengana"></property>
    </bean>

 


</beans>